<html>

<body>
    <div class="container-fluid">
        <div class="card mt-4">
            <h4 class="card-header">Features</h4>
            <div class="card-body">
                <p>This page can be accessed only by administrators.</p>
                <h3>Features List</h3>
                <ul>
                    <li *ngFor="let feature of features">
                        {{feature.FeatureName}}
                    </li>
                </ul>
                <div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>