<div class="container-fluid">
    <h3>Courses Catalog</h3>
    <h5>Description for Courses Catalog</h5>
    <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 amber-border col-md-5" type="text" placeholder="Search for a Course"
            aria-label="Search">
        <div class="input-group-append">
            <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fa fa-search"
                    aria-hidden="true"></i></span>
        </div>
        <div class="col-md-5">
            <select name="Sort By" class="rounded-inputs20 select-select col-md-5">
                <option>Id</option>
                <option>Name</option>
                <option>Duration</option>
            </select>
        </div>
    </div>

    <div class="container-fluid">
        <h3>Courses</h3>
        <ul *ngFor="let course of courses">
            <div class="card">
                <div class="card-body">
                    <a [routerLink]='["/learningpath", course.id]'><b>{{course.Course.Name}}</b></a>
                    <p>{{course.Course.Description}}</p>
                </div>
            </div>
        </ul>
    </div>
</div>