<footer id="footer" class="py-1 bg-light text-white-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/">Home</a>
                <a class="nav-item nav-link" routerLink="/courses">Courses</a>
                <a class="nav-item nav-link" routerLink="/features">Features</a>
                <a class="nav-item nav-link" routerLink="/profile">Profile</a>
            </ul>
        </div>
    </nav>
</footer>